target/*
.DS_Store
*.iml
build/*
.idea/*
/kafka-logs/
/.specmatic/
.vscode/*
bin/
obj/
build/reports/specmatic/
/recordings_backup/
specmatic-order-bff-csharp/build/
specmatic-order-bff-csharp.sln.DotSettings
specmatic-order-bff-csharp.sln.DotSettings.user
specmatic-order-bff-csharp.test/build/